body {
  height: 100vh;
  font-family: arial;
  background-color: #0a020260;
  background: linear-gradient(45deg, #f7f7f7, #caf, #fac, #cac);
  /* height: 100vh; */
  animation: gradient 1.1s ease infinite;
  background-size: 1500px 2350px;
  background-repeat: no-repeat;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
a {
  color: rgb(0, 0, 238);
}
