
a {
  color: rgb(0, 111, 238);
}
body {
  background-color: #494949;
  color: #b6adad;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 50%;
  border-radius: 5px;
}

strong {
  color: #ffffff;
}

h1,
h2 {
  color: #ffffff;
}
