a {
  text-decoration: none;
}

.flex {
  display: flex;
  gap: 20px;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  /* height: 100vh; */
}

body {
  margin: 0%;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
}
