body {
  margin: 0px;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  padding-left: 11rem;
  padding-right: 11rem;
  /* se vou mexer em todos, entçao devo mexer em justificar-items e nao align-itens */

  gap: 60px;
  /* vai separar todos os elementos */
}

li {
  list-style: none;
  font-size: upp;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.menu a:hover {
  border-color: #e21;
  /* vai entrar em sicronia com a border 2px solid #fff abaixo */
}

.menu a {
  text-decoration: none;
  text-transform: uppercase; /*esqueci também*/
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 4px;
  color: #000;
  border: 2px solid #fff;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /*esqueci o nome*/
}

.principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bicicleta {
  max-width: 100%;
  grid-column: 2;
  grid-row: 1;
}

.introducao {
  text-align: right;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  align-content: center;
  justify-content: end;
  padding: 30px 30px;
}

.botao {
  background-color: #ee2211;
  padding: 15px 30px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  /* box-shadow: 0.1px 5px 5px #000; */
}

.botao:hover {
  background-color: #900;
}

.definicao {
  font-size: 1.25rem;
  line-height: 1.3;
}

.introducao h1 {
  position: relative;
}

.introducao::before {
  content: "";
  width: 4rem;
  height: 4px;
  background-color: #e21;
  position: absolute;
  bottom: 20.2rem;
  left: 40.1rem;
}
/* .titulo {
  padding-top: 7rem;
}

.definicao {
  padding-bottom: 7rem;
} */
