body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
  /* justificar todos os itens ao centro */

  background-color: #f7f7f7;
  margin-top: 60px;
}

/* AJUSTANDO O MENU HEADER */
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  background-color: #fff;
  padding: 15px 30px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* .menu li {
  margin-top: 40px;
} */

img {
  max-width: 100%;
  display: block;
}

.header {
  /* para alinhar a img ao centro */
  display: grid;
  justify-items: center;
  gap: 60px;
  /* para separar a img dos a */
}

/* estilizando os links contidos em menu */
.menu a {
  border: 2px solid #fff;
  border-radius: 4px;
}
.menu a:hover {
  border-color: #e21;

  /* somente essa definiçao não irá aparecer na tela, por isso devo ir no a contido no menu para definir a borda que será exibida ao passar o mouse por cima */
}
