body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  /* se vou mexer em todos, entçao devo mexer em justificar-items e nao align-itens */

  gap: 60px;
  /* vai separar todos os elementos */
}

li {
  list-style: none;
  font-size: upp;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /*esqueci o nome*/
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase; /*esqueci também*/
  padding: 15px 30px;
  background-color: #fff;
  border-radius: 4px;
}
