body {
  font-family: arial;
  margin: 20px;
}

h1 {
  text-align: center;
}

span {
  color: #febe01;
}

a {
  background: #febe01;
  color: #332200;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
}

h2 {
  color: #fff;
}

div {
  background: #111;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
}

p {
  color: #b2b2b2;
}
