div {
  margin-top: 50px;
}
body {
  font-family: arial;
  margin: 40px;
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

/*
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto 1fr;
  place-items: start;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

.foto {
  grid-column: 1;
  grid-row: 2/5;
}

.descricao {
}

.titulo {
  grid-column: 1/-1;
}

/* para criarmos por exexmplo 30 linhas de 100px/fr/100% ou 30 colunas 100px/fr/100% por exemplo, usamos
  grid-template-columns: repeat(30, 100px/fr/100%);
  grid-template-row: repeat(30, 100px/fr/100%); */

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.titulo {
  grid-column: 1/-1;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.info{
  display: grid;
  align-items: flex-start;
  justify-items: start;
  place-self: start;
  gap: 10px;
}