body {
  font-family: arial;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai, ou seja, os netos*/
}

.comprar {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 250px 1fr 250px;
  justify-content: space-around;
}

.item1 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar1 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid1 {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.item2 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar2 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid2 {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  justify-content: center;
}

.item3 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar3 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid3 {
  display: grid;
  gap: 10px;
  grid-template-columns: 400px 400px;
  justify-content: center;
}

.item4 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar4 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid4 {
  display: grid;
  gap: 10px;
  grid-template-columns: 400px 400px;
  justify-content: space-between;
}

.item5 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar5 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid5 {
  display: grid;
  gap: 10px;
  grid-template-columns: 400px 400px;
  justify-content: space-around;
}

.item6 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar6 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid6 {
  display: grid;
  gap: 10px;
  grid-template-columns: 400px 400px;
  justify-content: space-evenly;
}

.item7 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar7 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid7 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: center;
}

.item8 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar8 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid8 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: end;
}

.item9 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar9 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid9 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: start;
}

.item10 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar10 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid10 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: stretch;
}

.item11 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar11 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid11 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: space-around;
}

.item12 {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid; /*mexe com os filhos do item pai*/
}

.comprar12 {
  background: #a8f;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.grid12 {
  display: grid;
  height: 700px;
  gap: 10px;
  grid-template-columns: 300px 300px;
  /* justify-content:center; */
  align-content: space-between;
}
