.voltar {
  font-size: 20px;
  background-color: rgba(10, 2, 2, 0.376);
  border-radius: 5px;
  text-decoration: none;
}

span,
a,
strong {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

h1,
p,
h2,
div {
  border: 1px solid rgba(255, 0, 0, 0.5);
}

sup{
  font-size: 35px;
  font-weight: bold;
}

sub{
  font-size: 15px;
}