a {
  text-decoration: none;
}

div {
  border: 2px solid #ccc;
  padding: 20px 20px 40px 20px;
  margin-top: 40px;
  position: relative;
}

span {
  background: #e7e7e7;
  border: 1px solid black;
  padding: 10px;
  position: absolute;
  top: 10px;
}