a {
  text-decoration: none;
}

ul {
  font-weight:bold;
  font-size: 20px;
}

h1{
  border: 2px solid #ccc;
  padding: 20px 20px 200px 20px;
}

p{
  background: #e7e7e7;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  margin: 0px;
}

.fixo{
position: fixed;
bottom: 22px;
left: 10px;
right: 10px;
}