h1 {
  margin: 0px;
  padding: 10px;
}
.p {
  font-weight: bold;
  font-size: 20px;
}

.index1 {
  background: red;
  position: relative;
  bottom: 10px;
}
.index2 {
  background: green;
  position: relative;
  bottom: 40px;
}
.index3{
  background: blue;
  position: relative;
  bottom: 60px;
}
.index4 {
  background: yellow;
  position: relative;
  bottom: 80px;
}
.index5 {
  background: orange;
  position: relative;
  bottom: 100px;
}

.index11 {
  background: red;
  position: relative;
  z-index: 5;
}
.index22 {
  background: blue;
  position: relative;
  z-index: 4;
  bottom: 30px;
}
.index33 {
  background: green;
  position: relative;
  z-index: 3;
  bottom: 60px;
}
.index44 {
  background: yellow;
  position: relative;
  z-index: 2;
  bottom: 90px;
}
.index55 {
  background: orange;
  position: relative;
  z-index: 1;
  bottom: 120px;
}

.index111 {
  background: red;
  position: relative;
}
.index222 {
  background: blue;
  position: relative;
  bottom: 30px;
}
.index333 {
  background: green;
  position: relative;
  bottom: 60px;
  z-index: 5;
}
.index444 {
  background: yellow;
  position: relative;
  bottom: 90px;
}
.index555 {
  background: orange;
  position: relative;
  bottom: 120px;
}