body {
  font-family: arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

.comprar {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
}

img {
  max-width: 100%;
}

body {
  font-family: arial;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

.comprar1 {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.grid1 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.preco1 {
  background: #ddd;
  padding: 5px 10px;
}

img {
  max-width: 100%;
}

.foto1 {
  grid-column: 2;
}

.comprar2 {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.grid2 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.preco2 {
  background: #ddd;
  padding: 5px 10px;
}

.foto2 {
  grid-column: 1/-1;
}

.comprar3 {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  grid-column: 1/-1;
}

.grid3 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.preco3 {
  background: #ddd;
  padding: 5px 10px;
}

.foto3{
  grid-column: 1/-1;
}

.descricao3 {
  grid-column: 1/-1;
}
