p {
  font-size: 20px;
}

h1,
h2,
a,
p,
ul,
li {
  font-family: arial;
}

.none {
  text-decoration: none;
}

.hoje {
  color: darkred;
}
.amanha {
  color: darkblue;
}

a {
  color: seagreen;
}

h2 a {
  text-decoration: none;
}


a{
  text-decoration: none;
}