a {
  background: #eee;
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

.inicio {
  display: inline;
  background: white;
}

.link {
  display: inline-block;
  background: white;
  color: blue;
  text-decoration: underline;
}
