body {
  font-family: arial;
  margin: 40px;
}

img {
  max-width: 100%;
}

.titulo {
  background: blue;
}

.descricao {
  background: blue;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

.comprar {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  /* align-items: stretch; */
  /* justify-items: stretch; */
  /* place-items: ; é a soma do a-items+j-items*/
}

.preco {
  background: #ddd;
  padding: 5px 10px;
}

.foto {
  /* grid-column: 1/-1; */
}

.titulo1 {
  background: blue;
}

.descricao1 {
  background: blue;
  text-align: right;
}

.comprar1 {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 20px;
  align-self: flex-start;
  justify-self: center;
}

.grid1 {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  /* align-items: stretch; */
  /* justify-items: stretch; */
  /* place-items: ; é a soma do a-items+j-items*/
}

.preco1 {
  background: #ddd;
  padding: 5px 10px;
  align-self: center;
  justify-self: center;
}

.foto1 {
  /* grid-column: 1/-1; */
}

.titulo1 {
  grid-column: 2;
  text-align: right;
}
